.calculator {
    button {
        width: 50px;
        height: 50px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: aliceblue;
        border: solid 1px #999;
    }

    button:hover {
        background-color: antiquewhite;
    }
}

.calculator__header {

}

.calculator__body {
    display: flex;
}

.calculator__numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-right: 10px;

}

.calculator__controls {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        background: orange;
        color: white;
        font-weight: bold;
    }
}

.calculator__footer {

}

#clear_calculator {
    background-color: orange;
}

#calculate_calculator {
    background-color: green;
    color: white;

    &:hover {
        background-color: lightgreen;
    }
}